/*
Buttons

:hover                  - Hover status for button
:focus                  - Focus status for button
.btn-line               - Button with border
.btn-line.btn-line-blue - Button with blue border

Markup: ../../../components/buttons/buttons.html.twig

Style guide: components.buttons
*/
.btn,
button,
.button {
  font-size: em($btn-fs);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: em($btn-height, $btn-fs);
  padding: 0 em($grid-padding, $btn-fs);
  font-weight: 700;
  border-radius: 2px;
  border: 0;
  appearance: none;
  background: $theme-secondary;
  color: $white;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 8px 0 rgba($black, 0.1);
  text-decoration: none;
  transition: all 0.3s;

  @include din();

  &:hover,
  &:focus {
    background: $theme-primary;
    color: $white;
  }

  /*
    Buttons With Icon

    Markup: ../../../components/buttons/buttons-icons.html.twig

    Style guide: components.buttons.with-icon
  */
  svg {
    width: rem(25px);
    height: rem(25px);
  }

  span + svg,
  svg + span {
    margin-left: em($grid-padding / 2, $btn-fs);
  }
}

.btn,
.button {
  /*
    Buttons Share

    Markup: ../../../components/buttons/buttons-share.html.twig

    Style guide: components.buttons.share
  */
  &-share {
    width: rem(40px);
    height: rem(40px);
    box-shadow: none;
    border-radius: 0;
    padding: 0;

    &-facebook {
      background: $facebook;

      &:hover,
      &:focus {
        background: darken($facebook, 10%);
      }
    }

    &-twitter {
      background: $twitter;

      &:hover,
      &:focus {
        background: darken($twitter, 10%);
      }
    }

    &-linkedin {
      background: $linkedin;

      &:hover,
      &:focus {
        background: darken($linkedin, 10%);
      }
    }
  }

  &-line {
    background: transparent;
    color: $theme-secondary;
    border: 1px solid $theme-secondary-light;
    box-shadow: none;

    @at-root {
      .btn-line:not(.btn-line-back),
      .button-line:not(.button-line-back) {
        font-weight: 400;
        border-radius: 0;

        span {
          font-size: em($text-small-fs);
        }
      }
    }

    &:hover,
    &:focus {
      background: $theme-secondary;
      border-color: $theme-secondary;
      color: $white;
    }

    &-blue {
      color: $theme-primary;
      border-color: $theme-primary;

      &:hover,
      &:focus {
        background: $theme-primary;
        border-color: $theme-primary;
        color: $white;
      }
    }
  }

  /*
    Buttons Back

    Markup: ../../../components/buttons/buttons-back.html.twig

    Style guide: components.buttons.back
  */
  &-back {
    padding: 0 rem($grid-padding / 2);

    span {
      flex-grow: 1;
      min-width: rem(100px);
      text-align: center;
    }

    svg {
      width: rem(6px);
      height: rem(12px);
    }
  }

  /*
    Buttons Back

    Markup: ../../../components/buttons/buttons-search.html.twig

    Style guide: components.buttons.search
  */
  &-search {
    background: $search-bg;
    color: $search-color;
    padding: 0;
    height: em(55px);
    min-width: em(55px);
    box-shadow: none;

    &:hover,
    &:focus {
      background: $theme-primary;
      color: $white;
    }
  }
}
