<button class="btn-line btn-line-blue btn-back">
    <svg>
        <use xlink:href="#icon-back"></use>
    </svg>
    <span>Back</span>
</button>
<a class="btn btn-line btn-line-blue btn-back">
    <svg>
        <use xlink:href="#icon-back"></use>
    </svg>
    <span>Back</span>
</a>
<a class="button button-line button-line-blue button-back">
    <svg>
        <use xlink:href="#icon-back"></use>
    </svg>
    <span>Back</span>
</a>