<p>Facebook button : a.btn.btn-share.btn-share-facebook</p>
<p>
    <a class="btn btn-share btn-share-facebook">
        <svg>
            <use xlink:href="#icon-facebook"></use>
        </svg>
        <span class="visually-hidden">
            Partager sur Facebook
        </span>
    </a>
</p>

<p>Twitter button : a.btn.btn-share.btn-share-twitter</p>
<p>
    <a class="btn btn-share btn-share-twitter">
        <svg>
            <use xlink:href="#icon-twitter"></use>
        </svg>
        <span class="visually-hidden">
            Partager sur Twitter
        </span>
    </a>
</p>

<p>Linkedin button : a.btn.btn-share.btn-share-linkedin</p>
<p>
    <a class="btn btn-share btn-share-linkedin">
        <svg>
            <use xlink:href="#icon-linkedin"></use>
        </svg>
        <span class="visually-hidden">
            Partager sur Linkedin
        </span>
    </a>
</p>
