<table class="styleguide-font {{ modifier_class }}">
    <tbody>
        <tr>
            <th id="result-header-1-dt" class="first" scope="row"><strong>Header 1:</strong> <span>Font, Style, Size, Leading, Colour</span></th>
            <td id="result-header-1-dd" class="first"><div><div>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</div></div></td>
        </tr>
        <tr>
            <th id="result-header-2-dt" scope="row"><strong>Header 2:</strong> <span>Font, Style, Size, Leading, Colour</span></th>
            <td id="result-header-2-dd"><div>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</div></td>
        </tr>
        <tr>
            <th id="result-header-3-dt" scope="row"><strong>Header 3:</strong> <span>Font, Style, Size, Leading, Colour</span></th>
            <td id="result-header-3-dd"><div>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</div></td>
        </tr>
        <tr>
            <th id="result-header-4-dt" scope="row"><strong>Header 4:</strong> <span>Font, Style, Size, Leading, Colour</span></th>
            <td id="result-header-4-dd"><div>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</div></td>
        </tr>
        <tr>
            <th id="result-header-5-dt" scope="row"><strong>Header 5:</strong> <span>Font, Style, Size, Leading, Colour</span></th>
            <td id="result-header-5-dd"><div>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</div></td>
        </tr>
        <tr>
            <th id="result-header-6-dt" scope="row"><strong>Header 6:</strong> <span>Font, Style, Size, Leading, Colour</span></th>
            <td id="result-header-6-dd"><div>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</div></td>
        </tr>
        <tr>
            <th id="result-body-dt" class="last" scope="row"><strong>Body:</strong> <span>Font, Style, Size, Leading, Colour</span></th>
            <td id="result-body-dd" class="last"><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id tempus tellus. Ut consectetur congue turpis, nec vestibulum nulla ullamcorper a. Cras congue tellus et diam blandit porttitor. Aliquam elit orci, interdum vitae hendrerit id, semper non nisl. Quisque faucibus iaculis mauris, id lobortis lacus consequat sit amet. Phasellus arcu nunc, iaculis mollis sodales ut, blandit eget mauris. Nulla adipiscing feugiat sagittis. Mauris vel semper est.</div></td>
        </tr>
    </tbody>
</table>

