$black: #000;
$white: #fff;

$text: #7c818b;

$theme-primary: #223b5d;
$theme-primary-dark: #193152;
$theme-secondary: #dba531;
$theme-secondary-light: #ffc500;
$theme-secondary-dark: #bd8c21;

$access-bar-border: rgba(124, 129, 139, 0.4);

$alert-grey: #e0e0e0;
$alert-grey-dark: #b7b7b7;
$alert-grey-text: #7c818b;

$title-color: #1a1a1a;
$h3-color: #4a4a4a;

$facebook: #3f588a;
$twitter: #00bced;
$linkedin: #00466b;

$table-border: #e0e0e0;
$table-event-bg: #f4f4f4;

$search-bg: #e0e0e0;
$search-color: #323c46;

$nav-color: #272930;
